# Ignore everything in the models folder
models/*

# ...But do not ignore the README.md
!models/README.md

# files are too big
venv/

/home/relz/code/voice-changer/vcpkg

# dont want my sussy recording on github lol
/home/relz/code/voice-changer/saved_outputs
